*{
    margin:0%;
    padding: 0%;
}
body{
    background: rgb(139, 165, 222);
}
.content{
    margin: 200px;
    margin-left: 520px;
    background-color: aliceblue;
    width: 400px;
    padding: 25px 25px;
    position: absolute;
    border-radius: 10px;   
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(139, 165, 222);
}
input{
    margin-top: 20px;
    height: 30px;
    border: none;
    box-shadow: rgb(201, 201, 201) 2px 2px;
    border-radius: 2px;
    width: 250px;
    text-align: center;
    outline: 0;
}

button{
    margin-top: 20px;
    height: 30px;
    width: 80px;
    background-color: white;
    border: none;
    border-radius: 2px;
    color: rgb(139, 165, 222);
    font-size: medium;
}
#qrimg{
    margin-top: 400px;
    position: absolute;
    margin-left: 680px;
}
#sharebtn{
    margin-top: 600px;
    margin-left: 720px;
    border-radius: 3px;
    outline: none;
}